{% extends 'base.html.twig' %}

{% block title %}Hello NotesController!{% endblock %}

{% block body %}

{% if app.user %}
    <div class="mb-3 ">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endif %}
<div data-controller="search">
    <input type="text" 
         data-search-target="input" 
         data-action="input->search#filter" 
         placeholder="Szukaj...">
    
         
    {# <table class="border border-gray-300">
        <thead>
            <tr>
                <th class="p-2 border border-gray-300">Rola</th>
                <th class="p-2 border border-gray-300">Postać którą grasz</th>
                <th class="p-2 border border-gray-300">Postać na którą grasz</th>
                <th class="p-2 border border-gray-300">Notatka</th>
                <th class="p-2 border border-gray-300">Drzewko runy</th>
                <th class="p-2 border border-gray-300">Tier 1 runa</th>
                <th class="p-2 border border-gray-300">Tier 2 runa</th>
                <th class="p-2 border border-gray-300">Tier 3 runa</th>
                <th class="p-2 border border-gray-300">Tier 4 runa</th>
            </tr>
        </thead>
        <tbody data-search-target="results">
        {% for item in counterGuides %}
        <tr data-search-value="{{item.counterGuide.role ~ " " ~ item.counterGuide.champion.name ~ " " ~ item.counterGuide.targetChampion.name ~ " " ~ item.counterGuide.notes}}">
            <td class="p-2 border border-gray-300">{{ item.counterGuide.role }}</td>
            <td class="p-2 border border-gray-300">{{ item.counterGuide.champion.name }}</td>
            <td class="p-2 border border-gray-300">{{ item.counterGuide.targetChampion.name }}</td>
            <td class="p-2 border border-gray-300">{{ item.counterGuide.notes }}</td>
            
            {% if item.runes is not empty %}
                <td class="p-2 border border-gray-300">{{ item.runes[0].tree }}</td>
            {% else %}
                <td class="p-2 border border-gray-300">No tree</td>
            {% endif %}
            
            {% if item.runes is not empty %}
                <td class="p-2 border border-gray-300">{{ item.runes[0].name }}</td>
            {% else %}
                <td class="p-2 border border-gray-300">No rune</td>
            {% endif %}

            {% if item.runes is not empty %}
                <td class="p-2 border border-gray-300">{{ item.runes[1].name }}</td>
            {% else %}
                <td class="p-2 border border-gray-300">No rune</td>
            {% endif %}

            {% if item.runes is not empty %}
                <td class="p-2 border border-gray-300">{{ item.runes[2].name }}</td>
            {% else %}
                <td class="p-2 border border-gray-300">No rune</td>
            {% endif %}
            {% if item.runes is not empty %}
                <td class="p-2 border border-gray-300">{{ item.runes[3].name }}</td>
            {% else %}
                <td class="p-2 border border-gray-300">No rune</td>
            {% endif %}

            
            <td class="p-2 border border-gray-300">
                
                <a href="{{ path('app_edit_counter_guide', {'id': item.counterGuide.id}) }}">Edit</a>
            </td>
            <td class="p-2 border border-gray-300">
                
                <a href="{{ path('app_delete_counter_guide', {'id': item.counterGuide.id}) }}">Delete</a>
            </td>
        </tr>
        {% endfor %} 
        </tbody>
    </table> #}
    <div class="flex-row">
        <div class="grid grid-cols-8">
            <div class="border">
                <h1>rola</h1>
            </div>
            <div class="border">
                <h1>Postać którą grasz</h1>
            </div>
            <div class="border">
                <h1>Postać na którą grasz</h1>
            </div>
            <div class="col-span-3 border ">
                <h1>Notatka</h1>
            </div>
            <div class="border">
                <h1>runy</h1>
            </div>
            <div class="border">
                <h1>Edycja</h1>
            </div>
        </div>
        {% for item in counterGuides %}
            <div class="grid grid-cols-8" data-search-value="{{item.counterGuide.role ~ " " ~ item.counterGuide.champion.name ~ " " ~ item.counterGuide.targetChampion.name ~ " " ~ item.counterGuide.notes}}">
                <div class="border">
                    {{ item.counterGuide.role }}
                </div>
                <div class="border">
                    {{ item.counterGuide.champion.name }}
                </div>
                <div class="border">
                   {{ item.counterGuide.targetChampion.name }}
                </div>
                <div class="col-span-3 border">
                    {{ item.counterGuide.notes }}
                </div>
                <div class="border">
                    {{ item.runes[0].name }}
                    {{ item.runes[1].name }}
                    {{ item.runes[2].name }}
                    {{ item.runes[3].name }}
                </div>
                <div class="border">
                    <a href="{{ path('app_edit_counter_guide', {'id': item.counterGuide.id}) }}">Edit</a>
                    <a href="{{ path('app_delete_counter_guide', {'id': item.counterGuide.id}) }}">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
